html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.2px;
  line-height: 1;
  background-color: #F5F5F5;
  color: #1F1F1F;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: 'Fraunces', serif;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 400;
}

.heading {
  font-family: 'Fraunces', serif;
  font-size: 25px;
  line-height: 1.25;
  font-weight: 400;
}

.logo__icon {
  width: 106px;
  height: 37px;
}

.btn {
  padding: 6px 20px;
  border: none;
  color: #ffffff;
  background: #0070A0;
  cursor: pointer;
  font: inherit;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: inherit;
}

.btn--secondary {
  color: #0070A0;
  background: #ffffff;
}

.btn--big {
  padding: 8px 32px;
  font-size: 17px;
  line-height: 1.58824;
}

.header {
  padding: 20px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  margin-right: 36px;
}

.header__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item {
  font-size: 15px;
  line-height: 1.6;
}

.header__nav-item:not(:last-child) {
  margin-right: 24px;
}

.header__nav-link {
  color: #33383F;
  text-decoration: none;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__button:not(:last-child) {
  margin-right: 11px;
}

.main {
  overflow: hidden;
}

.hero {
  padding: 70px 0 92px 0;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  width: 50%;
  padding-right: 40px;
}

.hero__title {
  margin-bottom: 24px;
  font-family: 'Fraunces', serif;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.10345;
}

.hero__subtitle {
  margin-bottom: 29px;
  padding-right: 170px;
  font-size: 20px;
  line-height: 1.5;
}

.hero__button {
  margin-right: 24px;
}

.hero__link {
  margin-right: 8px;
  color: #0070A0;
  text-decoration: none;
}

.hero__arrow {
  width: 11px;
  height: 20px;
  vertical-align: middle;
}

.hero__photo {
  display: block;
}

.companies {
  padding: 40px 0;
}

.companies__container {
  text-align: center;
}

.companies__title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.58333;
  font-weight: 400;
  color: #1F1F1F;
}

.companies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.companies__item:not(:last-child) {
  margin-right: 60px;
}

.companies__link {
  display: inline-block;
}

.companies__logo {
  fill: #969FA4;
}

.advantage {
  padding: 120px 0;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage__item {
  padding: 32px 32px 40px 32px;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

.advantage__item:not(:last-child) {
  margin-right: 32px;
}

.advantage__item::before {
  content: '';
  display: block;
  width: 55px;
  height: 55px;
  margin-bottom: 8px;
}

.advantage__item--fast {
  background-color: #FAEA73;
}

.advantage__item--fast::before {
  background-image: url("../img/advantage/advantage1.png");
}

.advantage__item--buck {
  background-color: #CCEFF6;
}

.advantage__item--buck::before {
  background-image: url("../img/advantage/advantage2.png");
}

.advantage__item--safe {
  background-color: #F7CEDC;
}

.advantage__item--safe::before {
  background-image: url("../img/advantage/advantage3.png");
}

.advantage__heading {
  margin-bottom: 11px;
}

.advantage__text {
  font-size: 15px;
  line-height: 1.6;
}

.services {
  padding: 80px 0;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__items {
  width: 450px;
}

.services__item {
  margin-bottom: 1px;
  position: relative;
  border-top: 1px solid #C2CDD8;
  border-bottom: 1px solid #C2CDD8;
}

.services__button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-align: left;
  letter-spacing: inherit;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 17px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 12px;
  font-family: 'Fraunces', serif;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 400;
  color: #626A72;
  position: relative;
  z-index: 2;
}

.services__button[aria-expanded="true"] {
  color: #1F1F1F;
}

.services__button::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.services__button--anti::before {
  background-image: url("../img/services/services1.png");
}

.services__button--exchange::before {
  background-image: url("../img/services/services2.png");
}

.services__button--fully::before {
  background-image: url("../img/services/services3.png");
}

.services__button--plenty::before {
  background-image: url("../img/services/services4.png");
}

.services__button::after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: auto;
  background-image: url("../img/services/arrow-accordion.svg");
}

.services__text {
  height: 0px;
  font-size: 16px;
  line-height: 1.5;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}

.services__text p {
  padding-right: 27px;
  padding-bottom: 20px;
  padding-left: 60px;
}

.services__text[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
}

.services__photo {
  display: block;
}

.about {
  padding: 120px 0;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__title {
  width: 25%;
  margin-right: 5%;
}

.about__items {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

.about__item:not(:last-child) {
  margin-right: 32px;
}

.about__item::before {
  content: '';
  display: block;
  width: 55px;
  height: 55px;
  margin-bottom: 8px;
}

.about__item--place::before {
  background-image: url("../img/about/about1.png");
}

.about__item--alerts::before {
  background-image: url("../img/about/about2.png");
}

.about__item--safe::before {
  background-image: url("../img/about/about3.png");
}

.about__heading {
  margin-bottom: 11px;
}

.about__text {
  font-size: 15px;
  line-height: 1.6;
}
/*# sourceMappingURL=main.css.map */