.about {
    padding: 120px 0;

    // .about__container

    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    // .about__title

    &__title {
        width: 25%;
        // margin-right: 100px;

        @include mediaMin($large) {
            margin-right: 5%;
        }

        @include mediaMax($large) {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    // .about__list

    &__list {
        width: 70%;

        @include mediaMin($medium) {
            display: flex;
        }
        // flex-wrap: wrap;

        @include mediaMax($large) {
            width: 100%;
        }
    }

    // .about__item

    &__item {

        @include mediaMin($medium) {
            flex-basis: calc((100% - 32px * 2) / 3); //
            
            &:not(:last-child) {
                margin-right: 32px;
            }
        }

        @include mediaMax($medium) {
            max-width: 576px;
            margin: 0 auto;

            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }

        &::before {
            content: '';
            display: block;
            width: 55px;
            height: 55px;
            margin-bottom: 8px;
        }

        &--place::before {
            background-image: url('../img/about/about1.png');
        }

        &--alerts::before {
            background-image: url('../img/about/about2.png');
        }

        &--safe::before {
            background-image: url('../img/about/about3.png');
        }
    }

    // .about__heading

    &__heading {
        margin-bottom: 11px;
    }

    // .about__text

    &__text {
        @include fontSizeLineHeight(15px, 24px);
    }
}