.advantage {
    padding: 120px 0;

    @include mediaMax($medium) {
        padding: 60px 0;
    }

    // .advantage__container

    &__container {}

    // .advantage__list

    &__list {
        display: flex;
        flex-wrap: wrap;

        @include mediaMax($medium) {
            max-width: 576px;
            margin: 0 auto;
        }
    }

    // .advantage__item

    &__item {
        padding: 32px 32px 40px 32px;
        flex-basis: calc((100% - 32px * 2) / 3); //

        @include mediaMax($medium) {
            flex-basis: 100%;

            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }

        @include mediaMin($medium) {
            &:not(:last-child) {
                margin-right: 32px;
            }
        }

        &::before {
            content: '';
            display: block;
            width: 55px;
            height: 55px;
            margin-bottom: 8px;
        }

        // .advantage__item--fast

        &--fast {
            background-color: #FAEA73;

            &::before {
                background-image: url('../img/advantage/advantage1.png');
            }
        }

        // .advantage__item--buck

        &--buck {
            background-color: #CCEFF6;

            &::before {
                background-image: url('../img/advantage/advantage2.png');
            }
        }

        // .advantage__item--safe

        &--safe {
            background-color: #F7CEDC;

            &::before {
                background-image: url('../img/advantage/advantage3.png');
            }
        }

    }

    // .advantage__heading

    &__heading {
        margin-bottom: 11px;
    }

    // .advantage__text

    &__text {
        @include fontSizeLineHeight(15px, 24px);
    }

}