.blog {
    padding: 80px 0;

    // .blog__container

    &__container {}

    // .blog__header

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    // .blog__title

    &__title {}

    // .blog__all

    &__all {
        display: inline-block;
        padding: 8px 32px;

        @include fontSizeLineHeight(17px, 27px);

        color: #0070A0;

        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    // .blog__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -16px;

        @include mediaMax($medium) {
            justify-content: center;
        }
    }

    // .blog__item

    &__item {
        flex-basis: calc((100% - 3 * 32px) / 3);
        // width: 33.3333%;
        margin: 16px;

        @include mediaMax($medium) {
            flex-basis: 100%;
            max-width: 576px;
            // margin: 16px auto;
        }
    }
}