.btn {
    padding: 6px 20px;
    border: none;

    color: #ffffff;
    background: $accentColor;

    cursor: pointer;

    font: inherit;
    @include fontSizeLineHeight(15px, 24px);

    letter-spacing: inherit;

    &--secondary {
        color: $accentColor;
        background: #ffffff;
    }

    &--big {
        padding: 8px 32px;
        
        @include fontSizeLineHeight(17px, 27px);
    }
}