.companies {
    padding: 40px 0;

    // .companies__container

    &__container {
        text-align: center;
    }

    // .companies__title

    &__title {
        margin-bottom: 24px;

        @media screen and (max-width: 576px) {
            margin-bottom: 35px;
        }

        @include fontSizeLineHeight(24px, 38px);
        font-weight: 400;

        color: $textColor;
    }

    // .companies__list

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @media screen and (max-width: 768px) {
            
        }
    }

    // .companies__item

    &__item {
        // height: 36px;

        @media screen and (min-width: 769px) {
            &:not(:last-child) {
                margin-right: 60px;
            }
        }

        @media screen and (max-width: 768px) and (min-width: 577px) {
            flex-basis: calc((100% - 60px) / 2);

            &:nth-child(2n + 1) {
                margin-right: 60px;
            }

            &:nth-child(-n + 2) {
                margin-bottom: 30px;
            }
        }

        @media screen and (max-width: 576px) {
            flex-basis: 100%;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    // .companies__link

    &__link {
        display: inline-block;

        &:hover .companies__logo,
        &:focus .companies__logo {
            fill: $accentColor;
        }
    }

    // .companies__logo

    &__logo {
        // height: 36px;

        fill: #969FA4;

        transition: fill $transitionDurationFunction;
    }
}