.footer {

    // .footer__container

    &__container {
        display: flex;
        justify-content: space-between;
        padding-top: 36px;
        padding-bottom: 32px;

        border-top: 1px solid #DEE5EB;

        @media screen and (max-width: 768px) {
            flex-wrap: wrap-reverse;
        }
    }

    // .footer__copy

    &__copy {
        padding-right: 20px;

        @include fontSizeLineHeight(13px, 19.6px);
    }

    // .footer__copy-link

    &__copy-link {
        color: $accentColor;

        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    // .footer__list

    &__list {
        display: flex;

        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    // .footer__item

    &__item {

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    // .footer__link

    &__link {

        &:hover .footer__icon,
        &:focus .footer__icon{
            fill: $accentColor;
        }
    }

    // .footer__icon

    &__icon {
        width: 22px;
        height: 22px;

        fill: #000000;

        transition: fill $transitionDurationFunction;
    }
}