.hero {
    padding: 70px 0 92px 0;

    @include mediaMax($medium) {
        padding: 50px 0 70px 0;
    }

    // .hero__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-image: linear-gradient(rgba(245, 245, 245, 0), rgba(255, 255, 255, 0)), url('../img/hero/hero-photo.png');
        background-repeat: no-repeat;
        background-position: right 15px center;

        @include mediaMax($large) {
            background-image: linear-gradient(rgba(245, 245, 245, 0.8), rgba(255, 255, 255, 0.8)), url('../img/hero/hero-photo.png');
        }

        @include mediaMax($small) {
            background-position: center;
        }
    }

    // .hero__content

    &__content {
        width: 50%;
        padding-top: 56px;
        padding-right: 40px;
        padding-bottom: 56px;

        @include mediaMax($large) {
            width: 75%;
        }

        @include mediaMax($medium) {
            width: 100%;
            padding-right: 0;
        }
    }

    // .hero__title

    &__title {
        margin-bottom: 24px;

        font-family: 'Fraunces', serif;
        font-weight: 400;
        @include fontSizeLineHeight(58px, 64px);

        @include mediaMax($medium) {
            font-size: 48px;
        }
    }

    // .hero__subtitle

    &__subtitle {
        margin-bottom: 29px;
        padding-right: 170px;

        @include fontSizeLineHeight(20px, 30px);

        @include mediaMax($medium) {
            width: 100%;
            padding-right: 100px;
        }
    }

    // .hero__items

    &__items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: -20px;
    }

    // .hero__button

    &__button {
        margin: 20px;
        // margin-right: 24px;
    }

    // .hero__link

    &__link {
        margin: 20px;

        color: $accentColor;

        text-decoration: none;

        &:hover,
        &:focus {
            // text-decoration: underline;

            .hero__arrow {
                transform: translateX(7px);
            }
        }   
    }

    // .hero__arrow

    &__arrow {
        width: 11px;
        height: 20px;
        margin-left: 8px;
        vertical-align: middle;

        transition: transform 250ms ease-in;
    }
}