.services {
    padding: 80px 0;

    // .services__container

    &__container {
        @media screen and (min-width: 993px) {
            background-image: url('../img/services/services-photo.png');
            background-repeat: no-repeat;
            background-position: bottom -60px right 50px;
            // background-size: contain;
            // background-size: 45%;
            // background-size: 481px 479px;
        }
    }

    // .services__title

    &__title {
        width: 55%;
        margin-bottom: 60px;    
        
        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }

    // .services__list

    &__list {
        max-width: 450px;
        // min-height: 400px;

        @media screen and (max-width: 992px) {
            max-width: 576px;
            margin: 0 auto;
        }
    }

    // .services__item

    &__item {
        margin-bottom: 1px;
        // padding: 18px 0;

        position: relative;

        border-top: 1px solid #C2CDD8;
        border-bottom: 1px solid #C2CDD8;
    }

    // .services__button

    &__button {
        // nulling styles of button
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        font: inherit;
        color: inherit;
        text-align: left;
        letter-spacing: inherit;
        //

        width: 100%;
        display: flex;
        align-items: center;
        
        padding-top: 17px;
        padding-right: 16px;
        padding-bottom: 15px;
        padding-left: 12px;

        font-family: 'Fraunces', serif;
        @include fontSizeLineHeight(21px, 25.2px);
        font-weight: 400;

        color: #626A72;

        position: relative;
        z-index: 2;

        transition: color $transitionDurationFunction;

        &[aria-expanded="true"],
        &:hover,
        &:focus {
            color: $textColor;
        }

        p {
            padding-right: 15px;
        }

        &::before {
            content: '';
            display: inline-block;
            width: 32px;
            height: 32px;
            margin-right: 16px;            
        }

        &--anti::before {
            background-image: url('../img/services/services1.png');
        }

        &--exchange::before {
            background-image: url('../img/services/services2.png');
        }

        &--fully::before {
            background-image: url('../img/services/services3.png');
        }

        &--plenty::before {
            background-image: url('../img/services/services4.png');
        }

        &::after {
            content: '';
            display: inline-block;
            width: 18px;
            height: 10px;
            margin-left: auto;

            background-image: url('../img/services/arrow-accordion.svg');
        }     
    }

    // .services__text

    &__text {
        height: 0px;

        @include fontSizeLineHeight(16px, 24px);

        transition: all 400ms ease;

        overflow: hidden;

        visibility: hidden;
        opacity: 0;

        p {
            padding-right: 27px;
            padding-bottom: 20px;
            padding-left: 60px;
        }

        &[aria-hidden="false"] {
            visibility: visible;
            opacity: 1;
        }
    }
}