.title {
    font-family: 'Fraunces', serif;
    @include fontSizeLineHeight(42px, 50.4px);
    font-weight: 400;

    @include mediaMax($medium) {
        font-size: 36px;
    }

    @include mediaMax($small) {
        font-size: 32px;
    }
}